[submodule "Artificial Intelligence/[Sharif University of Technology] Introduction to Machine Learning/Introduction_to_Machine_Learning"]
	path = Artificial Intelligence/[Sharif University of Technology] Introduction to Machine Learning/Introduction_to_Machine_Learning
	url = https://github.com/SharifiZarchi/Introduction_to_Machine_Learning.git
